{% extends "main.html" %}
{% block content %}
<body>
  <h2>Science news</h2>
  <hr />
  <div class="scrollmenu">
    {% for headline in science %}

    <a href="/summarize/science/{{headline.id}}">
      <div class="container">
        <img src="{{headline.image}}" alt="Nature" style="width: 100%" />
        <div class="content">
          <p class="h2">{{headline.name}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  <hr />
</body>

{% endblock content %}